/*All elements within the HTML should have width and height properties include the content, padding and border (all except margin)*/
html
{
    box-sizing: border-box;
}
/*Detrmine the font type and size for the entire body*/
a
{
    text-decoration: none;
}

ul
{
    list-style-type: none;
}
body
{
    margin: 0;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
header
{
    position: relative;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
}
header > img
{
    margin: 15px;
    cursor: pointer;
}

body > header, body > article
{
    display: block;
    width: 100%;
    left: 0;
    right: 0;
}
/*selects all header tags and nav tags*/
header, nav
{
    background-color: white;
    display: inline-block;
    vertical-align: bottom;
}
/*selects all ul's within a nav tag*/
nav ul
{
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
}
/*All list items under (sons of) class containing nav*/
.nav > li
{
    float: left;
    list-style: none;
}
/*All links that are under list items that are sons of a class containing nav*/
.nav > li a
{
    color: black;
    display: block;
    text-align: center;
    line-height: 30px;
    width: 160px;
}
/*links that are sons of list item that is a son of a class containing nav*
/*hover selects links on mouse-over*/
/*focus selects the link element that has focus*/
.nav > li > a:hover,
.nav > li > a:focus
{
    background-color: #FCFCFC;
    border: 1px solid #D5D5D5;
    color: #3399CC;
    border-bottom: none;
}

.nav > li > ul
{
    border: 1px solid #D5D5D5;
    border-top: none;
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    box-shadow: -7px 7px 10px rgba(0, 0, 0, 0.4);
}

.nav ul a
{
    background-color: #FCFCFC;
    width: 100%;
}

.nav ul a:hover,
.nav ul a:focus
{
    color: #3399CC;
}

.nav > li:hover > ul
{
    display: block;
}
.nav div
{
	position: absolute;
	bottom: 60px;
    right: 30px;

}
img
{
	vertical-align: middle;
}
.CenteredText
{
	text-align: center;
}
.nav form
{
	margin-left: 30px;
}
nav button 
{
	right: 28px;
	cursor: pointer;
	position: relative;
	background: none;
	border: none;
}
#searchButton
{
	content: url("imagesForComverse/searchBtn.png");
}
.main
{
    display: block;
    background-image: url("imagesForComverse/slide-bg-complexity.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center 0px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.main > div
{
    width: 950px;
}
.left-side-bar
{
    margin: 0 auto;
}
.article-first
{
    padding-top: 10px;
    padding-bottom: 10px;
}
.article-first > h1
{
    margin-top: 0;
    width: 80%;
    margin-left: 10px;
    font-size: 40px;
    font-weight: 100;
    color: white;
}
strong
{
  font-weight: 600;
}